@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* ------------------- */
    /* Design System CSS Variables (Variable name is generalized across projects) */
    /* ------------------- */

    /* Fonts */
    --font-primary: var(--font-schibsted-grotesk);
    /* --font-secondary: var(); */
    /* --font-tertiary: var(); */

    /* Primary Colors */
    /* --primary-darkest: var(); */
    /* --primary-darker: var(); */
    --primary-dark: hsl(0, 85%, 37%);
    --primary: hsl(0, 85%, 52%);
    /* --primary-light: var(); */
    /* --primary-lighter: var(); */
    /* --primary-lightest: var(); */

    /* Secondary Colors */
    /* --secondary-darkest: var(); */
    /* --secondary-darker: var(); */
    --secondary-dark: hsl(212, 96%, 19%);
    --secondary: hsl(212, 96%, 32%);
    /* --secondary-light: var(); */
    /* --secondary-lighter: var(); */
    /* --secondary-lightest: var(); */

    /* Tertiary Colors */
    /* --tertiary-darkest: var(); */
    /* --tertiary-darker: var(); */
    /* --tertiary-dark: var(); */
    --tertiary: hsl(212, 97%, 47%);
    --tertiary-light: hsl(212, 85%, 89%);
    --tertiary-lighter: hsl(212, 85%, 95%);
    --tertiary-lightest: hsl(212, 82%, 98%);

    /* Noir Colors (Black and White) */
    --noir-01: hsl(0, 0%, 0%);
    --noir-02: hsl(0, 0%, 40%);
    --noir-03: hsl(0, 0%, 60%);
    --noir-04: hsl(0, 0%, 80%);
    /* --noir-05: var(); */
    /* --noir-06: var(); */
    --noir-07: hsl(0, 0%, 90%);
    --noir-08: hsl(0, 0%, 94%);
    --noir-09: hsl(0, 0%, 98%);
    --noir-10: hsl(0, 0%, 100%);

    --background: var(--noir-01);
    --foreground: var(--noir-10);

    /* ------------------- */
    /* Status/Feedback Colors */
    /* ------------------- */

    --success-dark: hsl(145, 80%, 30%);
    --success: hsl(145, 80%, 42%);
    --success-light: hsl(145, 80%, 67%);

    --info-dark: hsl(200, 90%, 35%);
    --info: hsl(200, 90%, 50%);
    --info-light: hsl(200, 90%, 75%);

    --warning-dark: hsl(45, 95%, 35%);
    --warning: hsl(45, 95%, 50%);
    --warning-light: hsl(45, 95%, 75%);

    --error-dark: hsl(0, 85%, 40%);
    --error: hsl(0, 85%, 52%);
    --error-light: hsl(0, 85%, 75%);

    /* ------------------- */
    /* Utility Colors */
    /* ------------------- */

    --radius: 0.5rem;

    --border: var(--noir-07);
    --muted: var(--noir-08);
    --destructive: var(--error);

    --primary-foreground: var(--noir-01);
    --secondary-foreground: var(--noir-10);
    /* --tertiary-foreground: var(); */

    /* ------------------- */
    /* Default CSS Variables for Shadcn-ui Components  */
    /* ------------------- */

    --input: var(--muted);
    --ring: var(--muted);

    --muted-foreground: var(--foreground);
    --destructive-foreground: var(--foreground);

    --accent: var(--background);
    --accent-foreground: var(--foreground);

    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
  /* Example of Dark Mode CSS Variables */
  /* .dark {
  ...
  } */
  /* or Accessibility Mode */
  /* .theme-large {
  // Font Size Variables
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 30px;
  --font-size-3xl: 36px;
  --font-size-4xl: 48px;
  --font-size-5xl: 60px;
  --font-size-header: 36px;

  // Line Height Variables ]
  --line-height-sm: 1.25rem;
  --line-height-base: 1.5rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 2rem;
  --line-height-2xl: 2.25rem;
  --line-height-3xl: 2.5rem;
  --line-height-4xl: 3rem;
  --line-height-5xl: 3.5rem;
  --line-height-header: 2.5rem;
  ...
  }
  */
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
