@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Per-project CSS Variables respected to Design System */

    --brand-red: hsl(0, 84.2%, 60.2%);
    --brand-red-secondary: hsl(0, 84.2%, 40.2%);

    --brand-blue: hsl(212, 97%, 47%);
    --brand-blue-secondary: hsl(212, 97%, 27%);
    --brand-blue-tertiary: hsl(212, 97%, 17%);

    --brand-blue-light: hsl(212, 97%, 67%);
    --brand-blue-light-secondary: hsl(212, 97%, 57%);
    --brand-blue-light-tertiary: hsl(212, 97%, 47%);
    --brand-blue-light-quaternary: hsl(212, 97%, 37%);

    --noir-dark: hsl(0, 0%, 0%);
    --noir-dark-secondary: hsla(0, 0%, 40%, 1);
    --noir-dark-tertiary: hsla(0, 0%, 60%, 1);
    --noir-light-tertiary: hsla(0, 0%, 85%, 1);
    --noir-light-secondary: hsla(0, 0%, 98%, 1);
    --noir-light: hsl(0, 0%, 100%);

    --background: var(--noir-dark);
    --foreground: var(--noir-light);

    /* Default CSS Variables of Shadcn-ui Components (Supposed to be updated) */

    --destructive: var(--brand-red);
    --muted: var(--noir-light-tertiary);
    --border: var(--muted-light);
    --input: var(--muted-light);
    --ring: var(--muted-dark);
    --radius: 0.5rem;

    --primary: var(--brand-red);
    --secondary: var(--brand-blue);

    /* Default CSS Variables of Specific Shadcn-ui Components (Doesn't have to be updated)  */

    --primary-foreground: var(--foreground);
    --secondary-foreground: var(--foreground);
    --muted-foreground: var(--foreground);
    --destructive-foreground: var(--foreground);

    --accent-light: var(--secondary-light);
    --accent: var(--secondary);
    --accent-dark: var(--secondary-dark);
    --accent-foreground: var(--foreground);

    --card: var(--background);
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --sidebar-background: var(--background);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--accent);
    --sidebar-accent-foreground: var(--accent-foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
  }
  /* Example of Dark Mode CSS Variables */
  /* .dark {
  ...
  } */
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
